.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__change_password {
  margin: $s-size;
}

.table2 .thead-light th { 
  color: rgb(255, 255, 255);
  background: $dark-blue;
}
